@page "/Login"
@using ProyectoPracticaII.Client.Models;
@inject HttpClient http
@inject IHttpService Ihttp
@inject NavigationManager NavigatorManager

<EditForm Model="NuevoUsuario">
 
    <label>Correo</label>
    <InputText @bind-Value=NuevoUsuario.Correo></InputText>
    <label>Clave</label>
    <InputText @bind-Value=NuevoUsuario.Clave></InputText>



    <button @onclick="(()=>CrearUsuario(NuevoUsuario))">Crear Usuario</button>




</EditForm>

@code {

    Usuario NuevoUsuario = new Usuario();

    public async Task CrearUsuario(Usuario usuario)
    {
        var resultado = await Ihttp.Post<Usuario>("api/LoginAndRegister/Login", NuevoUsuario);
        if (resultado.Error)
        {
            var body = resultado.HttpResponseMessage;

        }
        NavigatorManager.NavigateTo("/");
    }



}